@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Roboto&display=swap');

html, body {
    box-sizing: border-box;
    margin: 0;
    background-color: #1f1f25;
    font-size: 16px;
}

body {    
    padding: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    font-weight: 900;
}

p, a, li, span, small {
    font-family: Roboto;
}

.dark {
    color: #feca76;
    background-color: #1f1f25;
}

.light {
    color: #1f1f25;
    background-color: #f3f3f3;
}

img {
    max-width: 100%;
}

.social {
    display: flex;
    justify-content: center;
    margin: 0 auto 15px;
}

.social > a {
    margin-right: 10px;
    font-size: 1.5em;
}

.navigation {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.navigation > a {
    margin-right: 10px;
    text-decoration: none;
}

.active {
    opacity: 0.6;
    font-weight: bold;
    text-decoration: underline !important;
    text-underline-position: under !important;
}

.blog-link {
    text-decoration: none;
}

.blog-post-preview {
    width: 50%;
    border: 2px solid #feca76;
    border-radius: 5px;
    padding: 15px;
    margin: 0 auto 25px;
}

.blog-post-preview > h1 {
    margin: 0 auto;
    font-size: 2em;
}
.blog-post-preview > p {
    margin-top: 15px;
}

.blog-post-preview > * {
    text-align: left;
}

.blog-post {
    width: 50%;
    margin: 0 auto;
}.blog-post-content > *, blockquote > p {    
    text-align: left;
    color: #f3f3f3;
}blockquote {
    border-left: 2px solid #feca76;
    padding-left: 10px;
}.blog-post-content > a {
    color: #feca76;
}

code {
    display: block;
    white-space: pre-wrap;
}

.blog-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-link {
    color: #f3f3f3;
}.blog-link > a {
    font-weight: bold;
    text-underline-position: under;
    font-size: 1em;
}

@media only screen and (max-width: 767px) {
    .social {
        justify-content: left;
    } .navigation {
        justify-content: space-around;
    }
    .error-img {
        width: 100%;
        margin: 5vh auto;
    }
    .error-p {
        text-align: center;
    }
    .blog-post-preview, .blog-post {
        width: 90%;
    }
    .blog-post-preview > h1 {
        margin: 0 auto;
        font-size: 1.5em;
    }
}