h1 {
    text-align: center;
    font-size: 3em;
    color: #f3f3f3;
}

p {
    text-align: center;
    color: #f3f3f3;
    line-height: 25px;
}

img {
    width: 20%;
    border: 10px solid #feca76;
    border-radius: 50%;
    display: block;
    margin: 10vh auto 0;
}

a {
    color: #feca76;
}
